<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Blog</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
    </head>
    <body>
        <div class="formContainer">
            <h1>Crea il tuo post</h1>
            <form action="/posts/new" method="post">
                <input type="text" name="title" placeholder="Il titolo del tuo post" required>
                <input type="text" name="image" placeholder="Inserisci il link dell'immagine che vuoi caricare" required>
                <input type="text" name="description" placeholder="Descrizione del tuo post">
                <button>Crea</button>
            </form>
        </div>
    </body>
</html>