* {
    box-sizing: border-box;
}

body{
  font-family: "Ariel";
  padding: 20px;
  background: #f1f1f1;
}

/*Header/Blog Title*/
.header{
  padding-top: 100px;
  color: white;
  text-align:center;
  background: url("https://images.pexels.com/photos/1144404/pexels-photo-1144404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  display: table;
  width: 100%;
  height: 500px;
  background-position: center;
}

/*Style the top navigation bar*/
.topnav {
  background-color: #232323;
  overflow: hidden;
}

/*Style the top nav links*/
.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-size: 1.3em;
}

/*Style the topnav link when hover them*/
.topnav a:hover {
  background-color: #ddd;
  color: #232323;
}

/*create two unequals columns that floats next to each other*/
/*left column*/
.leftcolumn {
  float: left;
  width: 75%;
}

/*right column*/
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
  font-size: 1.1em;
}

.fakeimg {
  width: 100%;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

#aboutImg {
  background-image: url("https://images.pexels.com/photos/459688/pexels-photo-459688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width:100%;
    }
}
