/*Style the top navigation bar*/
.topnav {
  background-color: #232323;
  overflow: hidden;
}

/*Style the top nav links*/
.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-size: 1.3em;
}

/*Style the topnav link when hover them*/
.topnav a:hover {
  background-color: #ddd;
  color: #232323;
}

.leftContent {
    float: left;
    width: 70%;
    padding: 5%;
}

.leftContent img{
    width: 100%;
    height: 100%;
}

.rightContent {
    float: right;
    width: 30%;
    padding-top: 5%;
}

.rightContent form {
  display: inline;
}

.leftContent form {
  margin-top: 5%;
  width: 100%;
}

.leftContent input {
  width: 80%;
}

.commenti {
  width: 100%;
}

.commento {
  margin-top: 2%;
  line-height: 2em;
}